<!DOCTYPE html>
<html lang="pt-br">
<head>
  {{>head-metatags title="Project Boot" description="Boot de projeto frontend" keywords="Boot, Bootstrap, Gulp"}}
  {{>head-scripts}}
</head>
<body>
  <div class="container">
    {{>header}}
    {{>molecula conteudo="main"}}
    {{>footer}}
  </div>

  {{>foot-scripts}}
</body>
</html>