<!DOCTYPE html>
<html lang="pt-br">
<head>
  {{>head-metatags title="Project Boot" description="Boot de projeto frontend" keywords="Boot, Bootstrap, Gulp"}}
  {{>head-scripts}}
</head>
<body>
  {{>header}}
  {{>molecula conteudo="Conteudo teste"}}
  {{>footer}}

  {{>foot-scripts}}
</body>
</html>