<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Project Boot</title>

  <!--build:css css/main.min.css-->
  <link rel="stylesheet" href="css/main.css">
  <!--endbuild-->
</head>
<body>
  {{>mol-partial conteudo="Título da molécula"}}

  <!--build:js js/main.min.js -->
  <script src="js/lib/a-library.js"></script>
  <script src="js/lib/b-library.js"></script>
  <script src="js/main.js"></script>
  <!-- endbuild -->
</body>
</html>