<!-- Modal -->
<div class="modal fade modal-pricing" id="modal-menu__assados" tabindex="-1" role="dialog" aria-labelledby="modal-label__assados">
  <div class="modal-dialog" role="document">

    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span class="glyphicon glyphicon-arrow-left"></span> Voltar
    </button>

    <article class="menu-pricing">
      <header class="menu-pricing__head">
        <figure class="menu-pricing__thumb">
          <img src="img/products/esfiha.png" alt="Salgados Assados">
        </figure>
        <h4 class="menu-pricing__title" id="modal-label__assados">Salgados Assados</h4>
      </header>

      <div class="menu-pricing__body">
        <div class="menu-pricing__products">
          <div class="menu-pricing__list">
            <span class="menu-pricing__name">
              Esfihas <span class="obs">(Carne, Frango, Queijo com Azeitona)</span>
            </span>
            <span class="menu-pricing__name">
              Enroladinhos <span class="obs">(Salsicha, Calabresa, Frios)</span>
            </span>
            <span class="menu-pricing__name">Trouxinha de calabresa com queijo</span>
          </div>
          <div class="menu-pricing__price">
            <div class="menu-pricing__price-wrap">
              <span class="menu-pricing__value">R$ <b>35,00</b> - o cento</span>
            </div>
          </div>
        </div>
        <div class="menu-pricing__products">
          <div class="menu-pricing__list">
            <span class="menu-pricing__name">Lanchinho de frios</span>
            <span class="menu-pricing__name">Cachorrinho</span>
          </div>
          <div class="menu-pricing__price">
            <div class="menu-pricing__price-wrap">
              <span class="menu-pricing__value">R$ <b>80,00</b> - cento</span>
            </div>
          </div>
        </div>
        <div class="menu-pricing__products">
          <div class="menu-pricing__list">
            <span class="menu-pricing__name">Hamburguinho</span>
          </div>
          <div class="menu-pricing__price">
            <div class="menu-pricing__price-wrap">
              <span class="menu-pricing__value">R$ <b>90,00</b> - cento</span>
            </div>
          </div>
        </div>
        <div class="menu-pricing__products">
          <div class="menu-pricing__list">
            <span class="menu-pricing__name">
              Torta de Frango <span class="obs">(aprox. 1,2kg)</span>
            </span>
          </div>
          <div class="menu-pricing__price">
            <div class="menu-pricing__price-wrap">
              <span class="menu-pricing__value">R$ <b>35,00</b> - unidade</span>
            </div>
          </div>
        </div>
        <div class="menu-pricing__products">
          <div class="menu-pricing__list">
            <span class="menu-pricing__name">
              Torta de Palmito <span class="obs">(aprox. 1,2kg)</span>
            </span>
          </div>
          <div class="menu-pricing__price">
            <div class="menu-pricing__price-wrap">
              <span class="menu-pricing__value">R$ <b>42,00</b> - unidade</span>
            </div>
          </div>
        </div>
        <div class="menu-pricing__products">
          <div class="menu-pricing__list">
            <span class="menu-pricing__name">
              Mini pizza <span class="obs">(diversos sabores)</span>
            </span>
          </div>
          <div class="menu-pricing__price">
            <div class="menu-pricing__price-wrap">
              <span class="menu-pricing__value">R$ <b>2,50</b> - unidade</span>
            </div>
          </div>
        </div>
        <div class="menu-pricing__products">
          <div class="menu-pricing__list">
            <span class="menu-pricing__name">
              Mini pizza aperitivo <span class="obs">(festa)</span>
            </span>
          </div>
          <div class="menu-pricing__price">
            <div class="menu-pricing__price-wrap">
              <span class="menu-pricing__value">R$ <b>50,00</b> - cento</span>
            </div>
          </div>
        </div>
        <div class="menu-pricing__products">
          <div class="menu-pricing__list">
            <span class="menu-pricing__name">Empadinha de Frango</span>
          </div>
          <div class="menu-pricing__price">
            <div class="menu-pricing__price-wrap">
              <span class="menu-pricing__price-type">Festa:</span>
              <span class="menu-pricing__value">R$ <b>40,00</b> - cento</span>
            </div>
            <div class="menu-pricing__price-wrap">
              <span class="menu-pricing__price-type">Lanche:</span>
              <span class="menu-pricing__value">R$ <b>1,20</b> - unidade</span>
            </div>
          </div>
        </div>
        <div class="menu-pricing__products">
          <div class="menu-pricing__list">
            <span class="menu-pricing__name">Empadinha de Palmito</span>
          </div>
          <div class="menu-pricing__price">
            <div class="menu-pricing__price-wrap">
              <span class="menu-pricing__price-type">Festa:</span>
              <span class="menu-pricing__value">R$ <b>45,00</b> - cento</span>
            </div>
            <div class="menu-pricing__price-wrap">
              <span class="menu-pricing__price-type">Lanche:</span>
              <span class="menu-pricing__value">R$ <b>1,50</b> - unidade</span>
            </div>
          </div>
        </div>
      </div>

      <footer class="menu-pricing__foot">
        <small class="glossary">*<b>Festa</b>, <b>Lanche</b> e <b>Normal</b> referem-se aos tamanhos.</small>

        <div class="owl-carousel owl-gallery">
          <img class="owl-lazy" data-src="img/products/catalog/assados/prod-02.jpg">
          <img class="owl-lazy" data-src="img/products/catalog/assados/prod-04.jpg">
          <img class="owl-lazy" data-src="img/products/catalog/assados/prod-06.jpg">
          <img class="owl-lazy" data-src="img/products/catalog/assados/prod-07.jpg">
          <img class="owl-lazy" data-src="img/products/catalog/assados/prod-09.jpg">
          <img class="owl-lazy" data-src="img/products/catalog/assados/prod-14.jpg">
          <img class="owl-lazy" data-src="img/products/catalog/assados/prod-15.jpg">
          <img class="owl-lazy" data-src="img/products/catalog/assados/prod-18.jpg">
          <img class="owl-lazy" data-src="img/products/catalog/assados/prod-19.jpg">
        </div>

        <div class="menu-pricing__obs">
          <p>
            <span>Procurando algo a mais?</span>
            <span>Manda uma mensagem pra gente que vamos te ajudar ;)</span>
          </p>
          <button class="btn btn--sm btn--default js-btn-contato">contato</button>
        </div>
      </footer>

    </article>

  </div>
</div>