<!-- Modal -->
<div class="modal fade modal-pricing" id="modal-menu__fritos" tabindex="-1" role="dialog" aria-labelledby="modal-label__fritos">
  <div class="modal-dialog" role="document">

    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span class="glyphicon glyphicon-arrow-left"></span> Voltar
    </button>

    <article class="menu-pricing">
      <header class="menu-pricing__head">
        <figure class="menu-pricing__thumb">
          <img src="img/products/coxinha.png" alt="Salgados Fritos">
        </figure>
        <h4 class="menu-pricing__title" id="modal-label__fritos">Salgados Fritos</h4>
      </header>

      <div class="menu-pricing__body">
        <div class="menu-pricing__products">
          <div class="menu-pricing__list">
            <span class="menu-pricing__name">Coxinha</span>
            <span class="menu-pricing__name">Risole</span>
            <span class="menu-pricing__name">Kibe</span>
            <span class="menu-pricing__name">Bolinha de queijo</span>
          </div>
          <div class="menu-pricing__price">
            <div class="menu-pricing__price-wrap">
              <span class="menu-pricing__value">R$ <b>30,00</b> - cento</span>
              <span class="menu-pricing__value">R$ <b>35,00</b> - frito</span>
            </div>
          </div>
        </div>
        <div class="menu-pricing__products">
          <div class="menu-pricing__list">
            <span class="menu-pricing__name">Mini pastel</span>
          </div>
          <div class="menu-pricing__price">
            <div class="menu-pricing__price-wrap">
              <span class="menu-pricing__value">R$ <b>40,00</b> - cento</span>
              <span class="menu-pricing__value">R$ <b>40,00</b> - frito</span>
            </div>
          </div>
        </div>
      </div>

      <footer class="menu-pricing__foot">
        <small class="glossary">*<b>Festa</b>, <b>Lanche</b> e <b>Normal</b> referem-se aos tamanhos.</small>

        <div class="owl-carousel owl-gallery">
          <img class="owl-lazy" data-src="img/products/catalog/fritos/prod-01.jpg">
          <img class="owl-lazy" data-src="img/products/catalog/fritos/prod-10.jpg">
          <img class="owl-lazy" data-src="img/products/catalog/fritos/prod-11.jpg">
          <img class="owl-lazy" data-src="img/products/catalog/fritos/prod-12.jpg">
          <img class="owl-lazy" data-src="img/products/catalog/fritos/prod-23.jpg">
        </div>

        <div class="menu-pricing__obs">
          <p>
            <span>Procurando algo a mais?</span>
            <span>Manda uma mensagem pra gente que vamos te ajudar ;)</span>
          </p>
          <button class="btn btn--sm btn--default js-btn-contato">contato</button>
        </div>
      </footer>

    </article>

  </div>
</div>