<!-- Modal -->
<div class="modal fade modal-pricing" id="modal-menu__doces" tabindex="-1" role="dialog" aria-labelledby="modal-label__doces">
  <div class="modal-dialog" role="document">

    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span class="glyphicon glyphicon-arrow-left"></span> Voltar
    </button>

    <article class="menu-pricing">
      <header class="menu-pricing__head">
        <figure class="menu-pricing__thumb">
          <img src="img/products/brigadeiro.png" alt="Doces">
        </figure>
        <h4 class="menu-pricing__title" id="modal-label__doces">Doces</h4>
      </header>

      <div class="menu-pricing__body">
        <div class="menu-pricing__products">
          <div class="menu-pricing__list">
            <span class="menu-pricing__name">Brigadeiro</span>
            <span class="menu-pricing__name">Beijinho</span>
            <span class="menu-pricing__name">Bicho de pé</span>
          </div>
          <div class="menu-pricing__price">
            <div class="menu-pricing__price-wrap">
              <span class="menu-pricing__value">R$ <b>35,00</b> - cento</span>
            </div>
          </div>
        </div>
        <div class="menu-pricing__products">
          <div class="menu-pricing__list">
            <span class="menu-pricing__name">Cajuzinho</span>
            <span class="menu-pricing__name">Olho de sogra</span>
            <span class="menu-pricing__name">Docinho de leite em pó</span>
          </div>
          <div class="menu-pricing__price">
            <div class="menu-pricing__price-wrap">
              <span class="menu-pricing__value">R$ <b>40,00</b> - cento</span>
            </div>
          </div>
        </div>
        <div class="menu-pricing__products">
          <div class="menu-pricing__list">
            <span class="menu-pricing__name">Mini sonho</span>
          </div>
          <div class="menu-pricing__price">
            <div class="menu-pricing__price-wrap">
              <span class="menu-pricing__price-type">Festa</span>
              <span class="menu-pricing__value">R$ <b>40,00</b> - cento</span>
            </div>
            <div class="menu-pricing__price-wrap">
              <span class="menu-pricing__price-type">Normal</span>
              <span class="menu-pricing__value">R$ <b>1,20</b> - unidade</span>
            </div>
          </div>
        </div>
        <div class="menu-pricing__products">
          <div class="menu-pricing__list">
            <span class="menu-pricing__name">
              Tortas doce <span class="obs">(Brigadeiro, Chocolate, Frutas da época)</span>
            </span>
          </div>
          <div class="menu-pricing__price">
            <div class="menu-pricing__price-wrap">
              <span class="menu-pricing__price-type">Mini</span>
              <span class="menu-pricing__value">R$ <b>55,00</b> - cento</span>
            </div>
            <div class="menu-pricing__price-wrap">
              <span class="menu-pricing__price-type">Média</span>
              <span class="menu-pricing__value">R$ <b>18,00</b> - unidade</span>
            </div>
            <div class="menu-pricing__price-wrap">
              <span class="menu-pricing__price-type">Grande</span>
              <span class="menu-pricing__value">R$ <b>32,00</b> - unidade</span>
            </div>
          </div>
        </div>
      </div>

      <footer class="menu-pricing__foot">
        <small class="glossary">*<b>Festa</b>, <b>Lanche</b> e <b>Normal</b> referem-se aos tamanhos.</small>

        <div class="owl-carousel owl-gallery">
          <img class="owl-lazy" data-src="img/products/catalog/doces/prod-13.jpg">
          <img class="owl-lazy" data-src="img/products/catalog/doces/prod-16.jpg">
          <img class="owl-lazy" data-src="img/products/catalog/doces/prod-20.jpg">
          <img class="owl-lazy" data-src="img/products/catalog/doces/prod-21.jpg">
          <img class="owl-lazy" data-src="img/products/catalog/doces/prod-22.jpg">
          <img class="owl-lazy" data-src="img/products/catalog/doces/prod-24.jpg">
          <img class="owl-lazy" data-src="img/products/catalog/doces/prod-03.jpg">
        </div>

        <div class="menu-pricing__obs">
          <p>
            <span>Procurando algo a mais?</span>
            <span>Manda uma mensagem pra gente que vamos te ajudar ;)</span>
          </p>
          <button class="btn btn--sm btn--default js-btn-contato">contato</button>
        </div>
      </footer>

    </article>

  </div>
</div>