//Grid
$screen-xxs:     640px;
$screen-xxs-max: $screen-xxs - 1px;

// Colors
$red:       #940104;
$red-mid:   #7e0000;
$red-dark:  #690002;
$yellow:    #f9ee4e;
$gray:      #dddddd;
$gray-mid:  #505050;
$gray-dark: #282828;

// Fonts
$font-default: 'Century Gothic','Apple Gothic',AppleGothic,'URW Gothic L','Avant Garde',sans-serif;
$font-special: 'Oswald', sans-serif;
$font-glyphs:  'glyphicons-kidelicia', sans-serif;
